*{
    margin: 0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 1rem;
}

.card{
    margin: 1em;
    border: 3px solid pink;
    align-items: baseline;
    border-radius: 14px;
    width:30vw;
}
.card img{
    border-radius: 14px;
}

.card:hover{
    background-color: #FF69B4;
}

.card-title{
    text-align: center;
    font-weight: 700;
    color: #000000;
}

.card-img-topz{
    width: 100%;
}

.btnDetalhesFilme{
    width: 10vw;
    border-radius: 10px;
    padding: 10px;
    margin: 12px;
    margin-left: 15vw;
    background-color: #FF69B4;
    font-weight: 600;
    color: #ffffff;
}

.btnDetalhesFilme:hover{
    background-color: #C71585;
    color: #F5FFFA;
}
img.imagemCardDetalhes{
    width:25vw;
    height: 40vh;
    text-align: left;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    border-radius: 25px 25px 25px 25px;
}
img.imagemCardDetalhes:hover{
    border-radius: 15px;
}
div.carddetalhes{
    display:flex;
    font-weight: 400;
    justify-content: space-between;
    width: 70vw;
    margin-left: 3vw;
    margin-right: 8vw;
    padding-top: 3vh;
    border-radius: 18px;
    border:#C71585 5px solid ;
    background-color: #fe91d6;
}
h5.card-title{
    margin-top: 3vh;
}
div.detalhescard{
    margin-top: 1vh;
}
#btnSalvar{
    width:9vw;
    margin-left: 3vw;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-top: 1vh;
    border: #C71585 2px solid;
}
#btnFechar{
    width:9vw;
    margin-left: 2vw;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-bottom: 1vh;
    border: #C71585 2px solid;
}
#btnEditar{
    width:9vw;
    margin-left: 2vw;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-bottom: 1vh;
    border: #C71585 2px solid;
}
#btnDesfavorito{
    width:9vw;
    margin-left: 2vw;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-bottom: 1vh;
    border: #C71585 2px solid;
}